.cabecalho{
    width: 1400px;
    height: 110px;
    display: flex;
    background: #000000
}

.imagem1{
    width: 139px;
    height: 118px;
    flex-shrink: 0;
}

.item1c{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}