.cabecalho{
    width: 1400px;
    height: 110px;
    display: flex;
    background: #000000
}

.imagem1{
    width: 139px;
    height: 110x;
    flex-shrink: 0;
}

.item1c{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;

}

.item2c{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.item3c{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.item4c{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.item5c{ 
    color: #FFFFFF;
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.corpo{
    width: 1440px;
    height: 834px;
    flex-shrink: 0;
    background: url(fundo.png), lightgray 50% / cover no-repeat;
   
    
}